@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Mega:wght@100;300;500;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Ledger&display=swap');
:root {
  --mainFont: "Lato", sans-serif;
  --subFont:'Ledger', serif;
  --mainColor: #868c6d;
  --accentColor: #f8e4d1;
  --detailColor: #d2d6c5;
  --detailColor2: #f2e6d8;
  --pagesLeft: #c4c4c4 0.8;
  --PageNoteIn: darkgrey;
  --sidePadding: 1rem;
}
/* global styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.hidden {
  display: none;
}
.hidden1 {
  visibility: hidden;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
}
p {
font-family: var(--mainFont);
}
h1,h2,h3,h4 {
  font-family: var(--subFont); 
}
h2{
  font-size: 2.5rem;
  color: var(--mainColor);

}
li {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}
header {
  height: 6rem;
  display: flex;
  align-items: center;
  padding: 2rem var(--sidePadding);
  justify-content: space-between;
  font-size: 1.1rem;
  background-color: var(--mainColor);
  margin-bottom: 1rem;
}

header nav {
  width: 38%;
}
header nav ul {
  display: flex;
  padding: var(--sidePadding);
  justify-content: space-between;
}
header nav ul li a {
  text-decoration: none;
  color: var(--accentColor);
  margin-right: 0.5rem;
  transition: 0.5s ease in;
  position: relative;
  font-weight: medium;
}
header nav ul li a:hover {
  font-weight: bold;
  transition: 0.2 ease;
}
header nav ul li a::after {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0.4rem;
  width: 100%;
  height: 4px;
  margin-top: 1rem;
  content: "";
  background-color: var(--accentColor);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.2s ease-in-out;
}

header nav ul li a:hover::after {
  transform: scaleX(1);
  background-color: var(--accentColor);
  transform-origin: right;
}
.current {
  font-weight: bold;
}
.current::after {
  transform: scaleX(1);
}

.logo {
  width: 4%;
  transform: scaleX(1);
}

/* buttons */
.button1 {
  text-decoration: none;
  color: white;
  padding: 1rem;
  background-color: var(--detailColor);
  margin-top: 1rem;
  width: fit-content;
  margin-left: 45%;
  font-weight: bold;
  border-radius: 1rem;

  font-size: 1.2rem;
}
.button1:hover {
  background-color: var(--mainColor);
  transition: 0.3s;
}

.buttonAdd {
  text-decoration: none;

  padding: 0.5rem;
  font-weight: bold;

  margin-top: 1rem;
  margin-bottom: 1rem;
  width: fit-content;
  border-radius: 1rem;
  border: var(--accentColor) 5px solid;
  font-size: 1.2rem;
  align-self: center;
  text-align: center;
  justify-self: center;
}
.buttonAdd:checked + a {
  background-color: var(--accentColor);
}
.buttonAdd span {
  color: var(--PageNoteIn);
  margin-left: 1rem;
  font-weight: lighter;
}

.buttonAdd2 {
  text-decoration: none;

  padding: 0.5rem;
  font-weight: bold;

  margin-top: 2rem;
  margin-bottom: 1rem;
  width: fit-content;
  border-radius: 1rem;
  border: var(--accentColor) 5px solid;
  font-size: 1.2rem;
  align-self: center;
  justify-self: center;
}
.buttonAdd2 span {
  color: var(--PageNoteIn);
  margin-left: 1rem;
  font-weight: lighter;
}
.oilNote {
  align-self: center;
  text-align: center;
  justify-self: center;
  font-weight: bold;
  justify-items: center;
  align-items: center;
}
/* .customise2 form label a:first-of-type {
  transform: translateY(5rem);
} */
.filebutton {
  border: 4px solid #d2d6c5;
  width: 20rem;
  border-radius: 1rem;
  padding: 1rem;
}

/* customise first page styles */

h1 {
  margin-left: 5rem;
  color: var(--mainColor);
  font-weight: normal;
}

.customise1 {
  display: flex;
  margin: 2rem;
}
.customise1 section {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.customise1 section ul {
  margin-left: 2rem;
  margin-bottom: 2rem;
}
.customise1 section ul li {
  list-style: decimal;
  font-size: 1.4rem;
  letter-spacing: 0.4rem;
  font-style: italic;
  margin-top: 0.5rem;
}

.introText {
  margin: 1.1rem;
  width: 80%;
  margin-left: 5rem;
  color: black;
  font-size: 1rem;
  margin-bottom: 3rem;
  line-height: 1.5rem;
}

/* customiseOils */

.customise2 {
  display: flex;

  margin-bottom: 1rem;
  flex-wrap: wrap;
}
.customise2 form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 40%;
  height: fit-content;
  margin-bottom: 1rem;
  margin-top: 4rem;
  min-width: 30rem;
}
.customise2 section {
  min-width: 40rem;
  width: 50%;
}
.customise2 form label {
  width: 100%;
  justify-content: center;
  align-content: center;
  display: grid;
  justify-content: center;
  align-content: center;
}
.customise2 form label input[type="radio"]:checked + img + a {
  font-size: 1.4rem;
}

.customise2 form label input[type="radio"]:checked + img + a span {
  font-size: 1rem;
}

.dots {
  margin-left: 48%;
}
.top {
  width: 36%;
  margin-left: 36.7%;
  margin-bottom: -1rem;
  /* margin-left: 100px; */
}
.topform a {
  margin-top: 2rem;
  margin-left: 3rem;
}
.middleform a {
  margin-bottom: 4rem;
  margin-left: 3rem;
}
.baseform a {
  margin-bottom: 9rem;
  margin-left: 2.5rem;
}
.middle {
  width: 58%;
  align-self: center;
  margin-left: 24%;
  margin-bottom: -4rem;
  margin-top: -8rem;
}
.base {
  width: 97%;
  margin-top: 0;
  margin-left: 3%;
  margin-top: -4rem;
  height: 10rem;
}

.oilPop {
  border: 4px solid #d2d6c5;
  margin: 1rem;
  padding: 1rem;
  border-radius: 2rem;
  margin-bottom: 1rem;
}
.ingredientPop {
  border: 4px solid #d2d6c5;
  margin: 1rem;
  padding: 1rem;
  border-radius: 2rem;
  display: grid;
  height: 23rem;
}
.ingredientPop h2 {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  font-weight: normal;
}
.cardContent {
  display: flex;
  justify-content: space-evenly;
  align-content: center;

  width: fit-content;
}
.cardContent img {
  width: 10rem;
  height: 10rem;
}
.cardContent p {
  color: var(--PageNoteIn);
  text-align: center;

  font-size: 1.1rem;
}
.popUps {
  display: flex;
  margin-right: 2rem;
}
.oilContainer {
  display: flex;
  flex-direction: column;
}

.rightArrow,
.leftArrow {
  width: 1.5rem;
}
.heartoil,
.baseoil,
.topoil {
  margin-left: 0.5rem;
  font-weight: normal;
  color: black;
  text-transform: capitalize;
  text-align: center;
}
.heartoil::before {
  content: "\A";
  white-space: pre;
}
.baseoil::before {
  content: "\A";
  white-space: pre;
}
.topoil::before {
  content: "\A";
  white-space: pre;
}

/* when checked, add a style to the img anchor */
label input[type="radio"]:checked + img + a {
  color: var(--mainColor);
  font-weight: bold;

  transition: 0.3s;
}
input[type="checkbox"]:checked + span + img + a {
  color: var(--mainColor);
  font-weight: bold;
  font-size: 1.4rem;
  transition: 0.3s;
  background-color: var(--accentColor);
}
input[type="radio"]:checked + a {
  color: var(--mainColor);
  font-weight: bold;
  font-size: 1.4rem;
  transition: 0.3s;
  background-color: var(--accentColor);
}
input[type="radio"]:checked + a span {
  color: white;
}
input[type="text"]:focus + a {
  color: var(--mainColor);
  font-weight: bold;
  font-size: 1.4rem;
  transition: 0.3s;
  background-color: var(--accentColor);
}

input[type="text"]:focus-visible + a {
  color: var(--mainColor);
  font-weight: bold;
  font-size: 1.4rem;
  transition: 0.3s;
  background-color: var(--accentColor);
}
/* input[type="text"]:valid + a {
  color: white;
  font-weight: bold;
  font-size: 1.4rem;
  transition: 0.3s;
  content: "added";
  background-color: var(--mainColor);
} */
input[type="text"]:invalid + a {
  color: var(--mainColor);
  font-weight: bold;
  font-size: 1.4rem;
  transition: 0.3s;
  background-color: rgba(rgb(185, 83, 24), green, blue, alpha);
}

/* hiding the radio buttons the  a11y. way: 
https://www.a11yproject.com/posts/how-to-hide-content/ */
input[type="radio"],
.visually-hidden {
  clip: rect(0 0 0 0);

  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
input[type="checkbox"],
.visually-hidden {
  clip: rect(0 0 0 0);

  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* setup transition for the icon */
svg {
  opacity: 0;
  transition: all 2s; /* normally max 0.3s */
}
*/ label {
  display: grid;
}

label > * {
  grid-column: 1;
  grid-row: 1;
}
/* custimise shape */
.shape {
  display: flex;

  justify-content: space-between;

  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 2rem;
}
.shape label {
  display: flex;
  flex-direction: column;
  width: 15rem;
  align-content: center;
}
.shape label img {
  height: 10rem;
}
.shape label a {
  margin-top: 3rem;
}
.buttonAdd:hover {
  color: var(--mainColor);
  background-color: var(--detailColor2);

  transition: 0.3s;
}
.buttonAdd2:hover {
  color: var(--mainColor);
  background-color: var(--detailColor2);

  transition: 0.3s;
}
.buttonAdd2:active {
  color: var(--mainColor);
  background-color: var(--detailColor2);

  transition: 0.3s;
}
.buttonAdd a:active {
  color: var(--mainColor);
  background-color: var(--detailColor2);

  transition: 0.3s;
}
.shape label input[type="radio"]:checked + img {
  transition: 0.2s;
  scale: (1.2, 1.2);
}
.shape label input[type="radio"]:checked + img + a {
  color: var(--mainColor);
  background-color: var(--detailColor2);
  font-size: 1.4rem;

  transition: 0.3s;
}

input[type="file"]:checked + a:active {
  color: var(--mainColor);
  background-color: var(--detailColor2);
  content: "Added";

  transition: 0.3s;
}
input[type="text"]:checked + a:active {
  color: var(--mainColor);
  background-color: var(--detailColor2);
  content: "Added";

  transition: 0.3s;
}
input[type="checkbox"]:checked + span + img + a:active {
  color: var(--mainColor);
  background-color: var(--detailColor2);
  content: "Added";

  transition: 0.3s;
}
.shape label input[type="radio"]:checked + img + a + span {
  color: var(white);

  transition: 0.3s;
}
input[type="submit"] {
  margin-left: 38%;
  border: none;
}

/* custimise color */
.color {
  display: flex;

  justify-content: space-between;
  flex-wrap: wrap;

  flex-direction: row;

  width: 90%;
  margin-left: 5%;
}
.color label {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  align-content: center;
  justify-content: center;
}
.color label img {
  margin-bottom: 1rem;
  height: 10rem;
  width: 80%;
  align-self: center;
}
.color label input[type="checkbox"]:focus + img + a {
  border: 1px black solid;
  color: var(--mainColor);
  background-color: var(--detailColor2);

  transition: 0.3s;
}
.colorpreview {
  flex-direction: row;
  padding-bottom: 1rem;
}
/* input[type="checkbox"],
.visually-hidden {
  clip: rect(0 0 0 0);

  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
} */

/* customise personal message */
input[type="checkbox"]:focus {
  color: var(--mainColor);
  background-color: var(--detailColor2);
  content: "Added";

  transition: 0.3s;
}
.message {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: 5%;
  margin-bottom: 3rem;
}
.message label {
  display: flex;
  flex-direction: column;
}
.message label input[type="text"] {
  border: 4px solid #d2d6c5;
  width: 50%;
  height: 5rem;
  border-radius: 1rem;
}

.message label input[type="text"]:checked {
  border: 6px solid #d2d6c5;
}
.message label span {
  margin-bottom: 1rem;
  font-weight: bold;
}

/* preview cutomise  */

.preview {
  width: 90%;
  margin-left: 5%;
  display: flex;
  justify-content: space-between;
}

.preview div {
  width: 10%;
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.preview div h2 {
  text-align: center;
}
.shapepreview {
  height: 20rem;
}

.customise3 h2 {
  text-align: center;
  padding-bottom: 2rem;
}
.customise3 {
  margin-top: 1rem;
}
.customise3 form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 40%;
  align-content: center;
  margin-left: 28%;
}
.preview div div {
  display: flex;
}
.customise3 section {
  width: 50%;
}
.customise3 form label {
  width: 100%;
  justify-content: center;
  align-content: center;
  display: grid;
}
.customise3 label input[type="radio"] + img + a {
  color: var(--mainColor);
  font-weight: bold;
  font-size: 1.4rem;
  transition: 0.3s;
}
.pre {
  margin-left: 45%;
  width: 10%;
  margin-bottom: 5rem;
}

/* hiding the radio buttons the  a11y. way: 
https://www.a11yproject.com/posts/how-to-hide-content/ */

/* product page */
.productsh1 {
  text-align: center;
  margin-bottom: 2rem;
  margin-left: 0px;
}

#productTemplate {
  padding: 2rem var(--sidePadding);
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 5rem;
  display: grid;
  margin: 1rem;
}
.productCard {
  width: 200px;
}
.productCard h2 {
  text-align: center;
  margin-bottom: 1rem;
  font-weight: normal;
  font-size: 1rem;
}

.productCard a img {
  margin-bottom: 2rem;
}
.productCard a {
  align-content: center;
}

.productCard a a {
  align-self: center;
  width: fit-content;
  margin-top: 0px;
}
.buttonProduct {
  text-decoration: none;

  padding: 0.5rem;
  font-weight: bold;

  width: FIT-content;
  border-radius: 1rem;
  border: var(--accentColor) 5px solid;
  font-size: 1.2rem;
  align-self: center;
  text-align: center;
  justify-self: center;
  margin-top: 1rem;
  margin-left: 1.5rem;
}
.buttonProduct:hover {
  color: var(--mainColor);
  background-color: var(--detailColor2);

  transition: 0.3s;
}
.buttonProduct:active {
  color: var(--mainColor);
  background-color: var(--detailColor2);
  font-size: 1.4rem;

  transition: 0.3s;
}
.buttonProduct span {
  color: var(--PageNoteIn);
  margin-left: 1rem;
  font-weight: lighter;
}
/* single product page */
.singleproduct {
  display: flex;
  width: 90%;
  margin-left: 5%;
}
.singleproduct section {
  width: 50%;
}
.singleproduct section div h3 {
  color: var(--mainColor);
  margin-bottom: 1rem;
}
.first {
  border-right: 1px solid var(--mainColor);
}
.second {
  width: 90%;
  margin-left: 5%;
  display: flex;
  flex-wrap: wrap;
}
.second div {
  width: 40%;
  margin-right: 5%;
  margin-left: 5%;
  display: grid;
  align-content: center;
  justify-content: center;
}
.second div span {
  margin-top: 1rem;
  font-style: 0.9rem;
  color: var(--PageNoteIn);
  font-style: italic;
}
.second div img {
  width: 60%;
  align-content: center;
  justify-content: center;
}
.productimage {
  width: 90%;
  margin-right: 5%;
}
.singleproducttitle {
  margin-bottom: 1rem;
  margin-left: 5%;
  color: var(--mainColor);
}
.icons {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
  width: 90%;
  margin-right: 5%;
}
.icons img {
  width: 12%;
}
.numberinput {
  width: 3rem;
  height: 3rem;
  border: 5px solid var(--detailColor);
  border-radius: 1rem;
  align-self: center;
  margin-top: 1rem;
}
.addproduct {
  display: flex;
  width: 100%;
}
.buttonSingleProduct:hover {
  color: var(--mainColor);
  background-color: var(--detailColor2);

  transition: 0.3s;
}
.buttonSingleProduct:active {
  color: var(--mainColor);
  background-color: var(--detailColor2);
  font-size: 1.4rem;

  transition: 0.3s;
}
.buttonSingleProduct {
  text-decoration: none;

  padding: 0.5rem;
  font-weight: bold;

  width: FIT-content;
  border-radius: 1rem;
  border: var(--accentColor) solid;
  font-size: 1.2rem;
  align-self: center;
  text-align: center;
  justify-self: center;
  margin-top: -3rem;
  margin-left: 3rem;
}
/* footer styles */

footer {
  margin-top: 3rem;
  font-size: 1rem;
  background-color: var(--mainColor);
  height: 8rem;
  display: flex;
  justify-content: space-evenly;
  color: var(--accentColor);
}
.column p {
  margin-top: 1.2rem;
}
.socialIcons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
}

/* Button styling*/
button{
  background-color: var(--mainColor);
  opacity: 80%;
  border-radius: 50px;
  border-width: 0;
  box-shadow: rgba(25,25,25,.04) 0 0 1px 0,rgba(0,0,0,.1) 0 3px 4px 0;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  height: 50px;
  padding: 0 25px;
  transition: all 200ms;
  max-width: max-content;
 margin-top: 4%;
}
button:hover{
  background-color: var(--detailColor);
  transform: scale(1.05);
}
/* Home page */
.header_index {
  position: absolute;
  width: 100%;
  background: none;
}
.header_index nav ul li a{
  width: auto;
  color: var(--mainColor);
}
header nav ul li a:hover::after {
  background-color: var(--mainColor);
}
#h1_index {
  font-family: "Lexend Mega", sans-serif;
  font-size: 4rem;
  font-weight: 500;
  color: var(--mainColor);
  margin-bottom: 2px;
}
.main_index_1 {
  background-image: url(/images/background_imagee.jpg);
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.text_align_center {
  text-align: center;
}

.dflex {
  display: flex;
}
.dgrid{
  display: grid;
}

.justify_center {
  justify-content: center;
}

.main_index_2{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.index_2_item_1{
  grid-column: 1/2;
  background-color:var(--accentColor);
  flex-direction: column;
  align-items: center;
}
.index_2_item_2{
  grid-column: 2/3;
}
.main_index_3{
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}
.plant_based_index{
grid-column: 1/2;
background-color: var(--detailColor);
}
.eco_friendly_index{
grid-column: 2/3;
background-color: var(--mainColor);
}
.handmade_index{
  grid-column: 3/3;
  background-color: var(--detailColor);
}
.icon_index{
  max-width: 20%;
}
.main_index_4{
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
.index_4_item_2{
  grid-column: 2/3;
  flex-direction: column;
  align-items: center;
 
}
.main_index_5{
  flex-direction: inherit;
}
.main_index_5 img{
max-width: 20%;
margin: 2%;

}
/* About us */
#h1_about{
  text-align: center;
}

.grid_container_about{
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
.grid_container_about img{
  max-width: 50%;
  margin: auto;
}
.grid_container_about_values{
  grid-template-columns: 1fr 1fr 1fr;
  min-height: 17vh;
  margin-top: 20px;
}
.grid_item_mission{
  grid-column: 1/2;
  background-color: var(--detailColor);
  text-align: center;
    padding: 20px;
}
.grid_container_about_values h2{
  font-size: 2rem;
} 
.grid_item_values{
  grid-column: 2/3;
  background-color: var(--accentColor);
  text-align: center;
    padding: 20px;
}
.grid_item_vision{
  grid-column: 3/4;
  background-color: var(--detailColor);
  text-align: center;
    padding: 20px;
}
.h2_about{
color: var(--accentColor);
}
/* Workshop style */
.workshop_header h2 {
  font-family: var(--mainFont);
  color: var(--mainColor);
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 40px;
  
}
.workshop_subtitle{
  text-justify: auto;
  font-family: var(--mainFont);
  text-align: center;
  line-height: 1.6;

}
.workshop_content{
  display: flex;
  padding: 1em;
  
}
.workshop_content_right{
  font-family: var(--mainFont);
  padding: 1em;
  line-height: 1.6;
}
.workshop_content_right h2{
  font-family: var(--mainFont);
  color: var(--mainColor);
  padding: 1em;
  padding-top: 4em;

}
.workshop_content_right ul{
  list-style: circle;
  font-family: var(--mainFont);
  line-height: 1.6;
}

.process{
  padding-top: 1em;
  padding-right: 4em;
}
.workshop_img{
  width: 50%;
  padding: 3em;
  margin-left: 8em;
  
}
.workshop_description{
  font-family: var(--mainFont);
  padding-bottom: 1em;
  padding-right: 3em;
  padding-left: 5em;
  line-height: 1.6;
  text-justify: auto;
  text-align: center;

}
.workshop_button{
    background-color: var(--mainColor);
    opacity: 80%;
    border-radius: 50px;
    box-shadow: rgba(25,25,25,.04) 0 0 1px 0,rgba(0,0,0,.1) 0 3px 4px 0;
    color: white;
    cursor: pointer;
    height: 30px;
    width: 100%;
    padding: 3px 25px;
    transition: all 200ms;
    max-width: max-content;
    margin-top: 4%;
}
  .workshop_button:hover{
    background-color: var(--detailColor);
    transform: scale(1.05);
  }

  .center {
    margin: auto;
    width: 20%;
    padding: 10px;
    }

.workshop_line_images ul{
padding-top: 3em;
  justify-content: space-between;
  width: 100%;
  display: inline-flex;
}





