@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
:root {
  --mainFont: "Lato", sans-serif;
  --subFont: "Satisfy", cursive;
  --mainColor: #868c6d;
  --accentColor: #f8e4d1;
  --detailColor: #d2d6c5;
  --detailColor2: #f2e6d8;
  --pagesLeft: #c4c4c4 0.2;
  --PageNoteIn: #c4c4c4;
  --sidePadding: 1rem;
}
/* global styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  font-family: var(--mainFont);
}
li {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}
header {
  height: 6rem;
  display: flex;
  align-items: center;
  padding: 2rem var(--sidePadding);
  justify-content: space-between;
  font-size: 1.1rem;
  background-color: var(--mainColor);
  margin-bottom: 1rem;
}

header nav {
  width: 30%;
}
header nav ul {
  display: flex;
  padding: var(--sidePadding);

  justify-content: space-between;
}
header nav ul li a {
  text-decoration: none;
  color: var(--accentColor);
  margin-right: 0.5rem;
  transition: 0.5s ease in;
  position: relative;
  font-weight: medium;
}
header nav ul li a:hover {
  font-weight: bold;
  transition: 0.3 ease;
}
header nav ul li a::after {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0.4rem;
  width: 100%;
  height: 4px;
  margin-top: 1rem;
  content: "";
  background-color: var(--accentColor);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

header nav ul li a:hover::after {
  transform: scaleX(1);
  background-color: var(--accentColor);
  transform-origin: right;
}

.logo {
  width: 6%;
}

/* footer styles */

footer {
  margin-top: 1rem;
  font-size: 1rem;
  background-color: var(--mainColor);
  height: 8rem;
  display: flex;
  justify-content: space-evenly;
  color: var(--accentColor);
}
.column p {
  margin-top: 1.2rem;
}
.socialIcons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
}

/* Workshop styles */
.workshop_header h3 {
}
.workshop_subtitle{

}
.workshop_content_right{

}
.workshop_img{

}
.workshop_description{

}
.workshop_button{

}
.workshop_line_images{

}


